<div class="container">
  <header class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h1>Welcome to the Paxtrans.io piggy bank</h1>
      <nav class="row">
        <ul class="pull-left">
          <li><a routerLink="">Home</a></li>
        </ul>
        <ul class="pull-right">
          <li *ngIf="!authenticated"><a routerLink="register">Register</a></li>
          <li *ngIf="!authenticated"><a routerLink="confirm">Confirm</a></li>
          <li *ngIf="!authenticated"><a routerLink="login">Log in</a></li>
          <li *ngIf="authenticated"><a (click)="logout()" style="cursor: pointer">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
 <app-messaging></app-messaging>
  <section class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      Footer
    </div>
  </footer>
</div>

